<div class="row py-5">
  <div class="col">
    <h4>Create new post</h4>
    <BsForm @formLayout="vertical" @model={{this}} @onSubmit={{fn this.onSubmit}} as |form|>
      <form.element @controlType="text" @label="Title" placeholder="Title" @property="title" required />
      <form.element @controlType="textarea" @label="Body" placeholder="Post Body" @property="body" />
      <form.submitButton>Submit Post</form.submitButton>
    </BsForm>
  </div>
</div>

{{yield}}