<div class="add_post">
  <div class="add_post_headline">
    <h3>Create a new post</h3>
  </div>
  <div class="add_post_input_title">
    <Input @value={{this.title}} placeholder="Enter the title"/>
  </div>
  <div class="add_post_input_body">
    <Textarea @value={{this.body}} placeholder="Enter the body"/>
  </div>
  <div class="add_post_button">
    <button {{on "click" this.submitThePost}}>Submit</button>
  </div>
</div>

{{yield}}