<div class="row py-5">
  <div class="col">
    <h4>Sign up</h4>
    <Input @value={{this.email}} placeholder="Enter Your Username"/>
    <Input @value={{this.password}} placeholder="Enter Your Password"/>
    <button {{on "click" this.submitData}}>Submit</button>
  </div>
</div>

{{yield}}