<div class="row my-2">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{@post.title}}</h5>
        <p class="card-text">{{@post.body}}</p>
        <a href="#" class="btn btn-primary">See post</a>
      </div>
    </div>
  </div>
</div>