<div class="show_post">
  <div class="post_title">
    <LinkTo @route="authenticated.show-post" @model={{@post.id}}>
      <h5 {{on "click" this.getCurrentData}}>
        {{@post.title}}
      </h5>
    </LinkTo>
  </div>
  <div class="post_body">
    <p>{{@post.body}}</p>
  </div>
</div>
